@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");

.about-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: pink;
}
.about-container {
  position: relative;
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.about-card {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 2px solid blue;
  margin: 20px 0;
}

.about-card:nth-child(even) {
  flex-direction: column-reverse;
  border: 2px solid red;
}

.about-imgbx {
  position: relative;
  width: 250px;
  height: 250px;
  background: #000;
  margin: 20px;
  border: 2px solid black;
}
.about-imgbx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-content {
  position: relative;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

.about-content div {
  padding: 20px;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .about-container {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    margin: 50px;
  }

  .about-card {
    flex-direction: row;
    margin: 10px 0;
  }
  .about-card:nth-child(even) {
    flex-direction: row-reverse;
  }

  .about-imgbx,
  .about-content {
    width: 50%;
  }
}

@media screen and (max-width: 600) {
  .about-card {
    flex-direction: column;
    margin: 10px 0;
  }

  .about-card:nth-child(even) {
    flex-direction: column;
  }

  .about-imgbx,
  .about-content {
    width: 100%;
  }

  .about-content {
    height: 200px;
  }
}
