.about-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--clr-grey-10);
}

.about-container {
  position: relative;
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-card {
  position: relative;
  height: 300px;
  width: 80vw;
  display: flex;
  flex-direction: row;
  background: var(--clr-grey-10);
  filter: drop-shadow(2px 3px 4px black);
  border-radius: 1%;
  margin: 10px 10px;
}

.about-imgbx {
  position: relative;
  flex: 0.4;
  height: 100%;
  border: 1px groove var(--clr-grey-10);
  filter: drop-shadow(2px 3px 4px black);
}
.about-imgbx img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-content {
  flex: 0.6;
}
.mission {
  flex: 0.5;
}

.vision {
  flex: 0.5;
}

.second-flex {
  flex-direction: row-reverse;
}

.about-content-text {
  display: flex;
  justify-content: center;
  margin: 30px;
  font-size: 15px;
  font-weight: 700;
  color: black;
}
@media screen and (max-width: 1024px) {
  .about-container {
    margin-top: -50px;
  }

  .about-card {
    position: relative;
    display: flex;
    width: 95vw;
    flex-direction: column;
    background: #fff;
    height: 100%;
    filter: drop-shadow(2px 3px 4px black);
    border-radius: 1%;
  }
  .second-flex {
    flex-direction: column-reverse;
  }
  .about-imgbx img {
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    object-fit: cover;
  }

  .about-content-text {
    display: flex;
    justify-content: center;
    margin: 20px 20px 20px 20px;
    font-size: 15px;
    font-weight: 700;
    color: black;
  }
}
