.about {
  background: purple;
  height: 100%;
}

.abouty {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: #f15a24;
  padding: 20px;
}

.abouty span {
  color: red;
  font-family: monospace;
}

.abouty p {
  font-size: 18px;
}

.abouty .image {
  flex: 0.3;
  margin-right: 20px;
}

.abouty .text {
  flex: 0.7;
}
