.cardd {
  background: linear-gradient(rgba(24, 24, 34, 0.9), rgba(23, 56, 78, 1.4));
  color: #eae6ee;
  border-radius: 50px;
  box-shadow: -10px -1px 10px rgba(179, 119, 54, 0.487),
    15px 15px 15px rgba(240, 220, 220, 0.1),
    inset -10px -10px 10px rgba(218, 212, 212, 0.624),
    inset 15px 15px 15px rgba(112, 20, 33, 0.631);
  padding: 20px;
  margin-top: 1px;
  margin-bottom: 14px;
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-family: monospace;
  width: 80%;
}
.cardd p {
  text-transform: capitalize;
}
.text-about {
  display: flex;
  background: linear-gradient(rgba(24, 24, 34, 0.9), rgba(23, 56, 78, 0.4)),
    url("../images/bg/6.jpg") no-repeat;
  background-size: 100%;
  color: white;
  border-radius: 24%;
  border: 2px solid black;
  background-size: 200%;
}

.text-about-1 {
  display: flex;
  background: linear-gradient(rgba(39, 33, 33, 0.9), rgba(27, 24, 24, 0.9)),
    url("../images/bg/background7.jpg") no-repeat;
  background-size: 300%;
  color: white;
  border-radius: 8%;
  border: 2px solid black;
  padding: 20px;
  background-position: top;
}
.text-about-2 {
  display: flex;
  background: linear-gradient(rgba(39, 33, 33, 0.9), rgba(27, 24, 24, 1.9)),
    url("../images/bg/Taieri.png") no-repeat;
  background-size: 300%;
  color: white;
  border-radius: 20%;
  border: 2px solid black;
  padding: 20px;

  background-position: top;
}
.onee {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.onee p {
  font-size: 10px;
  font-size: 14px;
}

.one {
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.second {
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

@media screen and (max-width: 992px) {
  .text-about {
    display: flex;
    flex-direction: column;
  }

  .card-one {
    margin-top: 50px;
  }
}
