@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
}

:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --purple: #4b0082;
  --orange: #f15a24;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --shadowDark: #d9dde6;
  --background: #e4e9f2;
  --shadowLight: #eff5fe;
}
/* globals */
input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}
body {
  color: var(--mainBlack);
  background: var(--mainWhite);

  line-height: 1.4;
}
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: lightgrey;
  background: var(--purple);
  padding: 0.4rem 0.9rem;
  border-bottom: 1px solid var(--orange);
  border-radius: 20px;
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primary:hover {
  background: var(--orange);
  color: black;
}
.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}
.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}
.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
  transition: var(--mainTransition);
  animation: shake 2s linear infinite;
  color: white;
}

@keyframes shake {
  0% {
    background: red;
  }
  100% {
    background: blue;
  }
}
/* end of globals */
/* Navbar */

/* Hero */
.defaultHero,
.roomsHero {
  min-height: 60vh;
  background: url("../images/bg/bg.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
}
.roomsHero {
  background-image: url("../images/bg/basic.png");
  object-fit: contain;
  background-size: 100%;
  min-height: 60vh;
}

/* End of Hero */
/* Banner */
.banner {
  display: inline-block;
  background: rgba(100, 0, 0, 0.8);
  color: var(--mainWhite);
  margin: 50px auto;
  width: 80%;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  height: 100%;
}
.banner h1 {
  font-size: 2.5rem;
}
.banner div {
  width: 10rem;
  height: 5px;
  background: #f15a24;
  margin: 1.7rem auto;
}
.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }
  .banner h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }
  .banner h1 {
    font-size: 4rem;
  }
}
/* End of Banner */

/* services */

.services {
  padding: 8rem 1rem;
  background: var(--purple);
  text-align: center;
}
.services-center {
  background: var(--purple);
  width: 90vw;
  margin: 0 auto;
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(239px, auto));
  grid-row-gap: 1rem;
  grid-column-gap: 40px;
  color: white;
}

.services-article {
  background: var(--orange);
  padding: 50px;
  width: 100%;
  height: 290px;

  box-shadow: 2px 2px 50px var(--purple);
}
.services span {
  display: inline-block;
  color: var(--purple);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}
.services h6 {
  letter-spacing: var(--mainSpacing);
}
.services p {
  width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  .services-center {
    width: 95vw;
    max-width: 1170px;
  }
}

@media screen and (min-width: 1200px) {
  .services p {
    width: 100%;
  }
}
/*end of services */

.slides {
  background: var(--orange);
  padding: 20px;
  margin: 20px;
}

/* SIGIN  */

* {
  font-family: "Nunito Sans", sans-serif;
}

.hero-body {
  justify-content: center;
}

.login {
  border-radius: 25px;
  padding: 1.5rem;
  box-shadow: 8px 8px 15px var(--shadowDark), -8px -8px 15px var(--shadowLight);
}

input {
  background: var(--shadowDark) !important;
}

a {
  font-weight: 600;
}

.roomListLoading {
  color: white;
  width: 200px;
  height: 20px;
}

.skillblockquote {
  letter-spacing: var(--mainSpacing);
  margin: 50px auto;
}

.feedbackdisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/bg/basic.png") no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  color: var(--orange);
  font-size: 10px !important;
  height: 100vh;
}
@media screen and (max-width: 992px) {
  .feedbackdisplay {
    background: url("../images/bg/basic.png") no-repeat;
    background-attachment: fixed;
    background-size: 290%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.card-thanks {
  background: var(--orange);
  color: #19181a;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 50, 224, 0.8);
  padding: 20px;
  margin-top: 1px;
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-family: monospace;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.auth-card {
  color: #19181a;
  border-radius: 10px;
  box-shadow: 0 3px 10px var(--orange);
  padding: 20px;
  margin-top: 1px;
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-family: monospace;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
