/* @import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap"); */

/* @import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Lato", sans-serif !important; */

  /* font-family: "Abhaya Libre", serif !important; */

  font-family: "Nunito", sans-serif !important;
}

:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --purple: #4b0082;
  --orange: #f15a24;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --shadowDark: #d9dde6;
  --background: #e4e9f2;
  --shadowLight: #eff5fe;
}
/* globals */
input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  line-height: 1.4;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: lightgrey;
  background: var(--purple);
  padding: 0.4rem 0.9rem;
  border-bottom: 1px solid var(--orange);
  border-radius: 20px;
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primary:hover {
  background: var(--orange);
  color: black;
}
.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}
.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}
.empty-search {
  text-align: center;
  text-transform: capitalize;

  padding: 1rem;
  letter-spacing: var(--mainSpacing);
  height: 15vh;
  transition: var(--mainTransition);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  animation: shake 2s linear infinite;
}

@keyframes shake {
  0% {
    background: red;
  }
  100% {
    background: blue;
  }
}
/* end of globals */
/* Navbar */

/* Hero */
.defaultHero,
.roomsHero {
  min-height: 60vh;
  background: url("../images/bg/bg.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
}
.roomsHero {
  background-image: url("../images/bg/basic.png");
  object-fit: contain;
  background-size: 100%;
  min-height: 60vh;
}

.contactHero {
  background: url("../images/bg/contact.jpg") center/cover no-repeat;
  object-fit: contain;
  background-size: 120%;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}
@media screen and (max-width: 768px) {
  .contactHero {
    background: url("../images/bg/contact.jpg") center/cover no-repeat;
    object-fit: contain;
    background-size: 180%;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 53vh;
  }
}
/* End of Hero */
/* Banner */
.banner {
  display: inline-block;
  background: rgba(100, 0, 0, 0.8);
  color: var(--mainWhite);
  margin: 50px auto;
  width: 80%;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  height: 100%;
  border: 5px solid white;
  background: rgba(100, 0, 0, 0.8);
  border-top-left-radius: 100%;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-top-right-radius: 100%;
  box-shadow: -10px -1px 10px rgba(255, 255, 255, 0.2),
    15px 15px 15px rgba(0, 0, 0, 0.1),
    inset -10px -10px 10px rgba(255, 255, 255, 0.2),
    inset 15px 15px 15px rgba(0, 0, 0, 0.1);
}
.banner h1 {
  font-size: 1.5rem;
  padding: 0.3rem 2rem;
}
.banner div {
  width: 10rem;
  height: 5px;
  background: #f15a24;
  margin: 1.7rem auto;
}
.banner p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 350px) {
  .banner {
    padding: 1rem 1rem;
    border-radius: 80%;
  }
  .banner h1 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }
  .banner h1 {
    font-size: 2rem;
  }
}
/* End of Banner */

/* services */

.services {
  padding: 8rem 1rem;
  background: var(--purple);
  text-align: center;
  font-family: sans-serif !important;
}
.services-center {
  background: var(--purple);
  width: 90vw;
  margin: 0 auto;
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(239px, auto));
  grid-row-gap: 1rem;
  grid-column-gap: 40px;
  color: white;
}

.services-article {
  background: var(--orange);
  padding: 10px;
  width: -30%;
  height: 290px;
  font-family: sans-serif !important;
  box-shadow: 20px 100px 500px var(--purple);
}

.services span {
  display: inline-block;
  color: var(--purple);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}
.services h6 {
  font-size: 15px;
  font-weight: 700;
  text-transform: capitalize;
  font-family: sans-serif !important;
}

.services p {
  width: 80%;
  margin: 0 auto;
  font-size: 15px;
}
@media screen and (min-width: 992px) {
  .services-center {
    width: 95vw;
    max-width: 1170px;
  }
}

@media screen and (min-width: 1200px) {
  .services p {
    width: 100%;
  }
}
/*end of services */

.slides {
  background: var(--orange);
  padding: 20px;
  margin: 20px;
}

.feedbackdisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/bg/basic.png") no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  color: var(--orange);
  font-size: 10px !important;
  height: 100vh;
}
@media screen and (max-width: 992px) {
  .feedbackdisplay {
    background: url("../images/bg/basic.png") no-repeat;
    background-attachment: fixed;
    background-size: 290%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.card-thanks {
  background: var(--orange);
  color: #19181a;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 50, 224, 0.8);
  padding: 20px;
  margin-top: 1px;
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-family: monospace;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.auth-card {
  color: #19181a;
  border-radius: 10px;
  box-shadow: 0 3px 10px var(--orange);
  padding: 20px;
  margin-top: 1px;
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-family: monospace;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.service-container {
  background: linear-gradient(rgba(39, 33, 33, 0.9), rgba(27, 24, 24, 0.9));
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
}

.service-card {
  padding: 20px 20px;
  background: linear-gradient(
    90deg,
    rgba(135, 23, 141, 0.4),
    rgba(121, 65, 6, 0.5)
  );
  filter: drop-shadow(3px 5px 2px black);
}

.service-box {
  height: 150px;
  display: flex;
  flex-direction: column;
}

.first-card {
  flex: 0.49;
  margin-left: 10px;
  color: white;
  background: var(--purple);
  transition: background 2s ease;
}

.second-card {
  flex: 0.49;
  margin-right: 10px;
  color: white;
  /* background: linear-gradient(
    90deg,
    rgba(121, 65, 6, 0.5),
    rgba(135, 23, 141, 0.4)
  ); */
  background: var(--purple);
  transition: background 2s ease;
}

.service-card:hover {
  background: linear-gradient(rgba(39, 33, 33, 0.9), rgba(27, 24, 24, 0.9));
  filter: drop-shadow(3px 5px 2px white);
}
.service-card-span {
  display: inline-block;
  color: var(--orange);
  font-size: 2.5rem;
  margin-bottom: 1rem;
  margin-top: -10px;
  margin-left: 50px;
  position: relative;
}

.service-btn {
  padding: 8px 20px;
  border-radius: 25px;
  outline: none;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  color: rgb(240, 235, 235);
  text-transform: uppercase;
  background: var(--orange);
  font-weight: 200;
  margin: 0 0 0 20px;
  cursor: pointer;
  transition: 0.5s;
}
.service-btn:hover {
  background: purple;
  color: white;
}
.service-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  margin-left: 20px;
}

@media screen and (min-width: 992px) {
  .service-container {
    background: linear-gradient(rgba(39, 33, 33, 0.9), rgba(27, 24, 24, 0.9));
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;
  }

  .service-card-span {
    margin-left: 50%;
  }

  .service-btn {
    margin: 0 0 0 46%;
  }
  .service-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin: 0 0 0 46%;
  }

  .service-text p {
    padding-left: 10px;
    font-size: 20px;
  }
}
