/* Colors */
/*
dark blue: #476A6F
light blue: #258EA6
dark green: #519E8A
medium green: #7EB09B
light green: #A3C4BC
*/

.contact-frame {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background: var(--purple);
  margin: 0px 0px 0px 0px;
  width: 100%;
  height: 150px;
}
.contact-frame h1 {
  font-size: 20px;
  font-weight: 700;
  color: white;
}
.contact-frame-btn {
  height: 35px;
  width: 35px;
  border-radius: 50px;
  background: var(--orange);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.5);
  box-shadow: 1px 2px 2px 0px var(--purple), inset 0px 0px 0px 0px var(--orange),
    inset 0px 0px 10px 0px #000000, inset 0px 0px 0px 0px var(--orange);
  transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.81);
  transition: all 0.5s ease;
  font-size: 15px;
  color: rgba(42, 52, 84, 1);
}

.contact-frame-btn:hover {
  transform: scale(1.7);
  border-radius: 0px;
}

.middle {
  margin-top: -80px;
}

/* END OF SOCIAL CONTACT ICONS */

.contact-wrapper {
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background: var(--mainbg);
}

.contact-form-wrapper {
  width: 50%;
  height: 100%;
  flex: 0.7;
  flex-direction: column;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0px 10px 40px #555;
  /* background: var(--mainbg); */
  background-color: white !important;
  margin: 0px 0px 0px -100px;
}

.contact-form-wrapper form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.contact-form-wrapper h1 {
  text-align: center;
  width: 100%;
  color: #111;
  font-size: 40px;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.contact-name input,
.contact-email input {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
  background-color: white !important;
}

.form-text textarea {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
  resize: none;
  color: #999;
  /* background: #d9dde6; */
  background-color: white !important;
  width: 100%;
}

.contact-name input::placeholder,
.contact-email input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: #999;
}

.contact-name,
.contact-email {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.contact-name {
  width: 100%;
}

.contact-email {
  width: 100%;
}

.form-text {
  width: 100%;
}

.sendmessage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sendmessage button {
  background-color: var(--orange);
  color: #fff;
  border: 2px groove #fff;
  width: 60%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
  border-radius: 8%;
}

.sendmessage button:hover {
  color: #519e8a;
  background-color: #fff;
  border: 2px solid #7e519e;
}

.working-hours.wrapper {
  flex: 0.3;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.working-hours-content {
  width: 100%;
  background: var(--mainbg);
}

@media (max-width: 991px) {
  .contact-wrapper {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: var(--mainbg);
  }
  .contact-form-wrapper {
    width: 90%;
    height: 100%;
    flex: 0.7;
    flex-direction: column;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    background: var(--mainbg);
    margin: 0px 0px 0px 0px;
  }
}
