.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  flex-wrap: wrap;
  padding: 40px 0;
  background: var(--purple);
}

.contact-card {
  position: relative;
  max-width: 320px;
  height: 100%;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
    inset -5px -5px 5px rgba(255, 255, 255, 0.5),
    5px 5px 5px rgba(0, 0, 0, 0.05), -5px -5px 5px rgba(103, 185, 27, 0.5);

  border-radius: 15px;
  margin: 30px;
}

.contact-content {
  padding: 20px;
  text-align: center;
}

.contact-content h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8em;
  color: rgba(0, 0, 0, 0.02);
  transition: 0.5s;
  pointer-events: none;
}

.contact-container .contact-card:hover .contact-box .contact-content h2 {
  color: rgba(0, 0, 0, 0.09);
}

.contact-content h3 {
  font-size: 1.8em;
  color: #777;
  z-index: 1;
  transition: 0.5s;
}

.contact-content p {
  font-size: 1em;
  color: #777;
  z-index: 1;
  transition: 0.5s;
  font-weight: 400;
}

.contact-box {
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}
