.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  /* flex-wrap: wrap; */
  padding: 20px 0;
  background: var(--purple);
}

.contact-card {
  position: relative;
  max-width: 100px;
  height: 200px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
    inset -5px -5px 5px rgba(255, 255, 255, 0.5),
    5px 5px 5px rgba(0, 0, 0, 0.05), -5px -5px 5px rgba(103, 185, 27, 0.5);

  border-radius: 15px;
  margin: 10px;
}

.contact-content {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 10px;
  justify-content: center;
  align-items: center;
}

.contact-content h2 {
  position: absolute;
  top: -10px;
  right: 30px;

  color: rgba(0, 0, 0, 0.02);
  transition: 0.5s;
  pointer-events: none;
}

.contact-container .contact-card:hover .contact-box .contact-content h2 {
  color: rgba(0, 0, 0, 0.09);
}

.contact-content h3 {
  color: #777;
  z-index: 1;
  transition: 0.5s;
}

.contact-content p {
  font-size: 1em;
  color: #777;
  z-index: 1;
  transition: 0.5s;
  font-weight: 400;
}

.contact-box {
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}

.contact-container-btn {
  width: 50px;
  height: 50px;
  text-align: center;
}

.new-section {
  position: relative;
  min-height: 80vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--purple);
  color: black;
  text-shadow: 0px 1px 1px black;
}

.new-section-bg {
  background: var(--purple);
}

.new-section {
  max-width: 50vw;
  text-align: center;
}
.new-section h2 {
  font-size: 36px;
  font-weight: 500;
  color: white;
}

.new-section p {
  font-weight: 500;
  color: white;
}

.new-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.new-info {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.new-box {
  position: relative;
  padding: 20px 0;
  display: flex;
}

.new-icon {
  min-width: 60px;
  height: 60px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}

.new-text {
  display: flex;
  margin-left: 20px;
  font-size: 15px;
  color: white;
  flex-direction: column;
  font-weight: 300;
}

.new-text h3 {
  font-weight: 500;
  color: #00bcd4;
}

.newform {
  width: 100%;
  padding: 20px;
  background: white;
  /* margin-top: -400px; */
}

.newform h2 {
  font-size: 30px;
  color: #333;
  font-weight: 500;
}

.newinputbox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.newinputbox input,
.newinputbox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 26px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid crimson;
  border-left: 2px solid crimson;
  outline: none;
  resize: none;
}

.newinputbox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: black;
  letter-spacing: var(--mainSpacing);
}

.newinputbox input:focus ~ span,
.newinputbox textarea:focus ~ span,
.newinputbox input:valid ~ span,
.newinputbox textarea:valid ~ span {
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}

@media (max-width: 991px) {
  .new-section {
    padding: 50px;
    max-width: 100vw;
    text-align: center;
  }

  .new-container {
    flex-direction: column;
  }
}
