:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --purple: #4b0082;
  --orange: #f15a24;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --shadowDark: #d9dde6;
  --background: #e4e9f2;
  --shadowLight: #eff5fe;
}

.frame {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background: #662d91;
  margin: 180px 0px 0px 0px;
  width: 100%;
  height: 80px;
  box-shadow: -7px -7px 20px 0px var(--orange), -7px -7px 20px 0px #fff9,
    -7px -7px 20px 0px var(--purple), -7px -7px 20px 0px #0002,
    inset 0px 0px 0px 0px var(--orange), inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px var(--orange);
  transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.81);
}

.footer-btn {
  height: 35px;
  width: 35px;
  border-radius: 50px;
  background: var(--orange);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.5);
  box-shadow: 1px 2px 2px 0px var(--purple), inset 0px 0px 0px 0px var(--orange),
    inset 0px 0px 10px 0px #000000, inset 0px 0px 0px 0px var(--orange);
  transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.81);
  transition: all 0.5s ease;
  font-size: 15px;
  color: rgba(42, 52, 84, 1);
}

.footer-btn:hover {
  transform: scale(1.7);
  border-radius: 0px;
}
