:root {
  --shadowDark: #d9dde6;
  --background: #e4e9f2;
  --shadowLight: #eff5fe;
}

.hero {
  background: url("../images/bg/basic.png") no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  display: flex;
}

.hero-body {
  justify-content: center;
  align-items: center;
}

.login {
  border-radius: 25px;
  padding: 1rem;
  box-shadow: 8px 8px 15px var(--shadowDark), -8px -8px 15px var(--shadowLight);
  background-color: #662d91;
  transform: scale(0.75);
  position: fixed;
  margin-top: 30px;
}

input {
  background: var(--shadowDark) !important;
}

a {
  font-weight: 600;
}
@media screen and (max-width: 992px) {
  .hero {
    background: url("../images/bg/basic.png") no-repeat;
    background-attachment: fixed;
    background-position: fixed;
    background-size: 220%;
    display: flex;
  }
}
