:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --purple: #662d91;
  --orange: #f15a24;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

.navbars {
  background: var(--purple);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 999;
}

.navbars-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.containers {
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

.navbars-logo {
  color: var(--orange);
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  padding-right: 100px;
  display: flex;

  align-items: center;
}

.navbars-icon {
  margin-right: 0.5rem;
}

.navs-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
  justify-content: flex-end;
}

.navs-item {
  height: 80px;
  border-bottom: 2px solid transparent;
}

.navs-item:hover {
  border-bottom: 2px solid #f00946;
}

.navs-links {
  color: var(--orange);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.fa-bars {
  color: var(--orange);
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .navs-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 80vh;
    position: absolute;
    top: 50px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    border-top: 8px solid #662d91;
    border-left: 8px solid #f15a24;
    border-right: 8px solid #f15a24;
    border-bottom: 8px solid #f15a24;
    border-top-right-radius: 70px;
    border-top-left-radius: 70px;
  }

  .navs-menu.active {
    background: #662d91;
    left: 0;
    opacity: 1;
    transition: all 0.6s ease;
    z-index: 1;
  }

  .navs-menu.active li {
    padding-top: 40px;
  }

  .navs-links {
    text-align: center;
    padding: 10px;
    margin-top: 1px;
    line-height: 1px;
    width: 100%;
    display: flex;
  }

  .navs-links:hover {
    color: #e4d7db;
    transform: scale(1.2);
    transition: all 0.3s ease;
  }

  .navs-item:hover {
    border: none;
  }

  .navs-item {
    width: 100%;
    padding-top: -15px;
    margin-top: 1px;
  }

  .navbars-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .navs-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
  }
}
