:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --purple: #4b0082;
  --orange: #f15a24;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --shadowDark: #d9dde6;
  --background: #e4e9f2;
  --shadowLight: #eff5fe;
}

.navbars {
  /* background: linear-gradient(rgba(192, 18, 24, 1.9), rgba(106, 30, 121, 1.27)); */
  background: var(--purple);

  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 999;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.9));
}

.navbars-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.containers {
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

.navbars-logo {
  color: white;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  padding-right: 100px;
  display: flex;
  z-index: 20000;
  align-items: center;
}

.navbars-icon {
  margin-right: 3.5rem;
  font-size: 30px;
}

.navs-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
  justify-content: flex-end;
}

.navs-item {
  height: 80px;
  border-bottom: 2px solid transparent;
}

.navs-item:hover {
  color: white;
}

.navs-links {
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.navs-links:hover {
  color: var(--orange);
}

.fa-bars {
  color: var(--orange);
}

.menu-icon {
  display: none;
}

.btn-floating {
  display: inline-block;
  color: #efebf1;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  background-color: var(--orange);
  border-radius: 50%;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  cursor: pointer;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  z-index: 200;
}
.btn-floating p {
  text-transform: uppercase;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.btn-floating:hover {
  background-color: #26a69a;
}

.btn-floating:before {
  border-radius: 0;
}

.link-color {
  color: black;
}

@media screen and (max-width: 960px) {
  .navs-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 58%;
    height: 60vh;
    position: absolute;
    top: 57px;
    left: -100%;
    opacity: 1;
    transition: all 1.6s ease;
    /* background: linear-gradient(
      rgba(106, 30, 121, 1.27),
      rgba(106, 30, 121, 1.27)
    ); */
    background: var(--purple);
  }

  .navs-menu.active {
    padding-top: 20px;
    position: absolute;
    /* background: linear-gradient(
      rgba(106, 30, 121, 1.27),
      rgba(106, 30, 121, 1.27)
    ); */

    background: var(--purple);
    left: 0;
    opacity: 1;
    transition: all 1.2s ease;
    z-index: 1;
  }

  .navs-menu.active li {
    display: flex;
    margin-bottom: 10px;
  }

  .navs-links {
    /* line-height: 2px; */
    width: 100%;
    display: flex;
  }

  .pad-block {
    margin-top: -10px;
    position: relative;
  }

  .navs-item {
    width: 100%;
    height: 60px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  }

  .navbars-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 30%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 0.2rem;
  }

  .navs-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
  }

  .navbars-icon {
    margin-right: 6rem;
    margin-top: 0.4rem;
    font-size: 30px;
  }

  .btns-link {
    margin-top: -20px;
  }
}
