/* featured rooms */

.featured-rooms {
  padding-top: 10rem;
  box-shadow: 1px 1px 1px var(--blacktext);
  background: hsl(210, 31%, 87%);
}
.featured-rooms-center {
  width: 90vw;
  max-width: 1170px;
  margin: 1px auto;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(229px, 1fr));
  grid-row-gap: 5rem;
  grid-column-gap: 80px;
}
@media screen and (max-width: 766px) {
  .featured-rooms-center {
    width: 90vw;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    grid-row-gap: 1rem;
    grid-column-gap: 10px;
  }
}

/* end pf featured rooms */
/* room */
.room {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
}
.room:hover {
  box-shadow: var(--darkShadow);
}

.img-container {
  position: relative;
}
.img-container img {
  width: 80%;
  height: 150px;
  display: block;
  transition: var(--mainTransition);
}
.price-top {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: var(--mainWhite);
  padding: 0.3rem 0.6rem 0.5rem;
  border-bottom-right-radius: 1rem;
  font-size: 0.5rem;
  text-align: center;
  transition: var(--mainTransition);
}
.price-top h6 {
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: var(--mainSpacing);
}
.room-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.3s linear;
}
.img-container:hover {
  background: var(--orange);
}
.img-container:hover img {
  opacity: 1.8;
  transform: translate(-20%, 20%) scale(1);
}
.img-container:hover .price-top {
  opacity: 0;
}
.img-container:hover .room-link {
  transform: translate(-20%, -120%) scale(1);
}
.room-info {
  background: var(--orange);
  text-transform: capitalize;
  padding: 0.7rem 0;
  text-align: center;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
  position: relative;
  color: var(--whitetext);
}

/* end of room  */
/* single room*/

.single-room {
  padding: 7rem 0 0 0;

  background: var(--mainbg);

  color: var(--blacktext);
  letter-spacing: 1px;
  line-height: 5px;
  font-size: 20px;
  height: 100%;
}
.single-room-images {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.single-room-images img {
  width: 100%;
  display: block;
}
.single-room-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: -10px;
  margin-right: 20px;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
}
.info h3 {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
}

.info p {
  font-size: 12px;
  margin-top: 20px;
}
.first-section {
  flex: 0.2;
  justify-content: center;
  padding-top: 10px;
  height: 20vh;
  background: var(--whitetext);
  color: var(--blacktext);
  margin-bottom: 10px;
  text-align: center;
  border: 1px solid var(--blacktext);
}

.first-section p {
  margin-top: 20px;
  font-weight: 700;
  font-size: 12px;
  color: var(--orange);
}

.first-section h3 {
  font-weight: 700;
  font-size: 22px;
}

.second-section {
  flex: 0.2;
  height: 20vh;
  background: var(--whitetext);
  color: var(--blacktext);
  margin-bottom: 20px;
  border: 1px solid var(--blacktext);
}
.info-flex {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.third-section {
  flex: 0.2;
  text-align: center;
  height: 20vh;
  background: var(--whitetext);
  color: var(--blacktext);
  margin-bottom: 10px;
  border: 1px solid var(--blacktext);
}

.third-section h5 {
  margin-top: 20px;
  font-size: 30px;
}

.fourth-section {
  flex: 0.2;
  text-align: center;
  height: 20vh;
  background: var(--whitetext);
  color: var(--blacktext);
  margin-bottom: 20px;
  border: 1px solid var(--blacktext);
}
.fifth-section {
  flex: 0.2;
  text-align: center;
  height: 20vh;
  background: var(--whitetext);
  color: var(--blacktext);
  margin-bottom: 10px;
  border: 1px solid var(--blacktext);
}

.room-extras {
  width: 100vw;
  color: var(--blacktext);
  margin: -10px auto 0 auto;
  background: var(--mainbg);
  /* background: linear-gradient(rgba(106, 30, 121, 1.27), rgba(192, 18, 24, 0.9)); */
  box-shadow: 6px 8px 6px var(--purple), 0px 0px 1px var(--purple);
}
.room-extras h6 {
  text-transform: capitalize;
  position: relative;
  margin: 20px 80px 10px 10%;
  width: 80vw;
  font-size: 20px;

  border: 2px solid var(--orange);
  letter-spacing: var(--mainSpacing);
  color: var(--orange);
  background: var(--blacktext);
  text-align: center;
}
.extras {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}
@media screen and (min-width: 992px) {
  .single-room-images,
  .single-room-info {
    width: 95vw;
    height: 100%;
  }

  .room-extras {
    height: 20vh;
  }
}
/* end of single room*/

/* roomlist */

.roomslist {
  background: linear-gradient(rgba(106, 30, 121, 1.27), rgba(192, 18, 24, 0.9));
  box-shadow: -1px -2px 5px var(--purple);
  padding: 5rem 0;
  color: var(--whitetext);
}
.roomslist-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 30px;
}

@media screen and (min-width: 776px) {
  .roomslist-center {
    width: 90vw;
  }
}
@media screen and (min-width: 992px) {
  .roomslist-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end of roomlist */

/*  rooms fitler*/
.filter-container {
  height: 50vh;
  width: 100vw;
  padding: 2.1rem 0;
  background: var(--mainbg);
}

.filter-form {
  padding: 15px;
  height: 78%;
  width: 97%;
  margin: 0 0 0 8px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-row-gap: 1.2rem;
  grid-column-gap: 8px;
  background: linear-gradient(rgba(106, 30, 121, 1.27), rgba(192, 18, 24, 0.9));
  font-size: 15px;
  border: 1px solid transparent;
  border-radius: 5px;
  text-align: center;
  box-shadow: 2px 8px 6px rgba(106, 30, 121, 1.27),
    0px 0px 1px rgba(106, 30, 121, 1.27);
}
.form-group {
  text-transform: capitalize;
}
.form-group label {
  letter-spacing: var(--mainSpacing);
  color: white;
}
.form-control {
  width: 100%;
  background: var(--whitetext);
  font-size: 1.3rem;
  color: black;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px groove var(--purple);
  height: 30px;
  width: 16px;
  border-radius: 30px;
  background: var(--purple);
  cursor: pointer;
  margin-top: -12px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px var(--orange); /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  border: 2px groove var(--purple);
  height: 30px;
  width: 16px;
  border-radius: 30px;
  background: var(--purple);
  cursor: pointer;
  margin-top: -12px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px var(--orange); /* Add cool effects to your sliders! */
}

/* All the same stuff for IE */
input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  border: 2px groove var(--purple);
  height: 30px;
  width: 16px;
  border-radius: 30px;
  background: var(--purple);
  cursor: pointer;
  margin-top: -12px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px var(--orange); /* Add cool effects to your sliders! */
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: linear-gradient(-45deg, var(--orange), orange);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
  /* transition: all 1s ease; */
  background-size: 70% 90%;
  animation: gradient 5s ease infinite;
}
input[type="range"]:hover::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px 4px rgba(51, 153, 204, 0.49);
}

input[type="range"]:hover::-webkit-slider-runnable-track {
  box-shadow: 0px 0px 0px 4px rgba(51, 153, 204, 0.49);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media screen and (max-width: 996px) {
  .filter-container {
    height: 60vh;
    width: 100vw;
    margin-top: -70px;
    background: var(--mainbg);
    border-top: 5px groove rgba(155, 67, 26, 0.2);
  }
  .filter-form {
    padding: 15px;
    height: 84%;
    width: 97%;
    margin: 0 0 0 3px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-row-gap: 1.2rem;
    grid-column-gap: 8px;
    background: linear-gradient(
      rgba(106, 30, 121, 1.27),
      rgba(192, 18, 24, 0.9)
    );
    font-size: 15px;
    border: 1px solid transparent;
    border-radius: 5px;
    text-align: center;
    box-shadow: 2px 8px 6px rgba(106, 30, 121, 1.27),
      0px 0px 1px rgba(106, 30, 121, 1.27);
  }

  .single-room-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
  }
  .first-section {
    flex: 0.2;
    width: 100vw;
    height: 100%;
    padding-bottom: 20px;
  }
  .first-section p {
    font-size: 20px;
    color: var(--orange);
  }

  .second-section {
    flex: 0.2;
    width: 100vw;
    height: 100%;
    text-align: center;
    margin-left: 50%;
    margin-right: 50%;
    margin-top: -5px;
    margin-bottom: 10px;
  }

  .third-section {
    flex: 0.2;
    width: 100vw;
    height: 100%;
    padding-bottom: 20px;
  }

  .fourth-section {
    flex: 0.2;
    width: 100vw;
    height: 100%;
    padding-bottom: 10px;
    margin-top: -5px;
    margin-bottom: 5px;
  }
  .fifth-section {
    flex: 0.2;
    width: 100vw;
    height: 100%;
    padding-bottom: 20px;
    margin-bottom: 5px;
  }
  .info h3 {
    font-size: 26px;
    font-weight: 700;
  }
  .info p {
    font-size: 20px;
    color: var(--orange);
    font-weight: 700;
  }
}

/* end of rooms fitler*/

.roomsloading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.room-card {
  border-radius: 10px;
  box-shadow: 0 3px 10px var(--orange);
  padding: 20px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
  font-family: monospace !important;
}
