@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

/* Showcase */
.showcase {
  margin-top: 0.5px;
  border-top: 1px groove var(--orange);
  height: 400px;
  background-color: var(--mainbg);
  color: var(--whitetext);
  position: relative;
  z-index: 20;
}

.showcase-container {
  max-width: 99.6%;
  margin: 0 auto;
  overflow: auto;
  padding: 0 35px;
  background: linear-gradient(rgba(106, 30, 121, 1.27), rgba(192, 18, 24, 0.9));
  border: 1px solid #f15a24;
  filter: drop-shadow(1px 1px 1px #f15a24);
  box-shadow: 1px 5px 2px var(--mainbg), 0px 0px 1px var(--mainbg);
}

.showcase h1 {
  font-size: 30px;
  text-align: center;
  font-weight: bolder;
}

.showcase p {
  margin: 10px 0;
}

.skillblockquote {
  letter-spacing: var(--mainSpacing);
  margin: 10px auto;
}

.showcase .grid {
  overflow: visible;
  grid-template-columns: 55% auto;
  gap: 30px;
}

.showcase-text {
  animation: slideInFromLeft 1s ease-in;
}

.showcase-form {
  position: relative;
  top: 60px;
  height: 100%;
  width: 100%;
  z-index: 1000;
  justify-self: flex-end;
  animation: slideInFromRight 1s ease-in;
}

.form-card {
  background: var(--mainbg);
  color: #19181a;
  border-radius: 2%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.9);
  padding: 10px;
  letter-spacing: var(--mainSpacing);
}

.showcase-form .form-control {
  margin: 10px 0;
  background: var(--mainbg);
}

.showcase-form input[type="text"],
.showcase-form input[type="email"] {
  border: 0.1rem groove black;
  border-radius: 1%;
  width: 100%;
  padding: 3px;
  background: var(--whitetext) !important;
}
::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: var(--blacktext);
  text-shadow: 0px 1px 20px var(--whitetext);
  opacity: 1;
}

.showcase-form input:focus {
  outline: none;
}

.showcase::before,
.showcase::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: var(--orange);
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
  z-index: -20;
}

/* Animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateX(0);
  }
}

/* Tablets and under */
@media (max-width: 768px) {
  .grid,
  .showcase .grid,
  .grid,
  .grid,
  .grid,
  .grid,
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .showcase {
    height: auto;
    z-index: 20;
  }

  .showcase-text {
    text-align: center;
    margin-top: 20px;
    animation: slideInFromTop 1s ease-in;
    z-index: 20;
  }

  .showcase-form {
    justify-self: center;
    animation: slideInFromBottom 1s ease-in;
    z-index: 20;
    height: 100%;
  }
  .form-card {
    /* text-align: center; */
    height: 100%;
    margin-top: -80px;
    margin-left: -60px;
  }
  .cli .grid > *:first-child {
    grid-column: 1;
    grid-row: 1;
  }
}

/* Mobile */
@media (max-width: 960px) {
  .showcase {
    margin-top: -65px;
    border-top: 1px groove var(--orange);
    height: 100%;
  }
  .showcase-form {
    width: 100%;
    height: 350px;
  }

  .showcase-form h1 {
    font-size: 16.4px;
  }
}
