@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

:root {
  --primary-color: #4b0082;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
  --purple: #4b0082;
  --orange: #f15a24;
}

/* Showcase */
.showcase {
  margin-top: 5px;
  height: 400px;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
  z-index: 20;
}

.showcase h1 {
  font-size: 30px;
}

.showcase p {
  margin: 20px 0;
}

.showcase .grid {
  overflow: visible;
  grid-template-columns: 55% auto;
  gap: 30px;
}

.showcase-text {
  animation: slideInFromLeft 1s ease-in;
}

.showcase-form {
  position: relative;
  top: 60px;
  height: 100%;
  width: 100%;
  z-index: 1000;
  justify-self: flex-end;
  animation: slideInFromRight 1s ease-in;
}

.form-card {
  background: var(--orange);
  color: #19181a;
  border-radius: 2%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.9);
  padding: 10px;
  letter-spacing: var(--mainSpacing);
}

.showcase-form .form-control {
  margin: 10px 0;
  background: var(--orange);
}

.showcase-form input[type="text"],
.showcase-form input[type="email"] {
  border: 2px solid crimson;
  color: crimson;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}
::placeholder {
  color: black;
  text-shadow: 0px 1px 20px grey;
  opacity: 1;
}

.showcase-form input:focus {
  outline: none;
}

.showcase::before,
.showcase::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: var(--orange);
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
  z-index: -20;
}

/* Animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateX(0);
  }
}

/* Tablets and under */
@media (max-width: 768px) {
  .grid,
  .showcase .grid,
  .grid,
  .grid,
  .grid,
  .grid,
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .showcase {
    height: auto;
    z-index: 20;
  }

  .showcase-text {
    text-align: center;
    margin-top: 90px;
    animation: slideInFromTop 1s ease-in;
    z-index: 20;
  }

  .showcase-form {
    justify-self: center;
    margin: auto;
    animation: slideInFromBottom 1s ease-in;
    z-index: 20;
  }

  .cli .grid > *:first-child {
    grid-column: 1;
    grid-row: 1;
  }
}

/* Mobile */
@media (max-width: 960px) {
  .showcase-form {
    width: 100%;
  }

  .showcase-form h1 {
    font-size: 16.4px;
  }
}
