/* Title */
.section-title,
.feature,
.serviceColor,
.about {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.section-title h4,
.feature h4,
.serviceColor,
.about h4 {
  font-size: 1.3rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 0.1rem;

  color: black;
}

.section-title div,
.feature div,
.about div {
  width: 10rem;
  height: 5px;
  margin: 0 auto;
  background: var(--orange);
}
.feature div {
  background: var(--purple);
}

.about div {
  color: white;
}

.about h4 {
  color: white;
}
.serviceColor {
  color: white;
  margin-top: -90px;
}
.serviceColor h4 {
  margin-bottom: 0.8rem;
}
.serviceColor div {
  width: 10rem;
  height: 5px;
  margin: -2px auto;
  background: #24f179;
}

/* end of Title */
